<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
        <h1>Add Pet</h1>
        {%if messages%}
        {%for message in messages%}
       <p>{{message}} </p>
       {%endfor%}
        {%endif%}
        <form action="createPet" method="post">
                        {% csrf_token %}
              <p> <input type="text" name="name" placeholder="Pet Name"> </p> 
              <p>   <input type="text" name="kind" placeholder="Type Of Animal"> </p> 
              <p>  <input type="submit"> </p> 
        </form>
</body>
</html>